USE [dbOtoparkYonetimSistemi]
GO
/****** Object:  StoredProcedure [dbo].[spAktifCezalar]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAktifCezalar]
AS
BEGIN
    SELECT
		CezaID AS 'CEZA ID', 
        MusteriNo AS 'MÜŞTERİ ID',
        CezaSebebi AS 'CEZA SEBEBİ',
        AldigiYaptirim AS 'UYGULANAN CEZA',
        OdenecekTutar AS 'ÖDENECEK CEZA',
        CezaAlimTarihi AS 'CEZA BAŞLANGIÇ TARİHİ',
        CezaBitisTarihi AS 'CEZA BİTİŞ TARİHİ',
		CASE OdenmeDurumu
        WHEN 1 THEN 'ÖDENDİ'
        WHEN 0 THEN 'ÖDENMEDİ'
		END AS 'ÖDENME DURUMU'
    FROM 
        MUSTERI_CEZA_BILGISI
	WHERE OdenmeDurumu = 0
	ORDER BY
		CezaID ASC
END
GO
/****** Object:  StoredProcedure [dbo].[spAktifPersonelBilgileriniListele]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAktifPersonelBilgileriniListele]
AS
BEGIN
    SELECT 
        PersonelID AS 'Personel ID',
        Ad AS 'AD',
        Soyad AS 'SOYAD',
        Adres AS 'ADRES',
        TelefonNumarasi AS 'TELEFON NO',
        PP.PozisyonAd AS 'POZİSYONU',
		PKB.KatAdi AS 'ÇALIŞTIĞI KAT',
		Maas AS 'MAAŞI',
		BaslamaTarihi AS 'İŞE BAŞLAMA TARİHİ'
    FROM 
        PERSONEL_BILGISI PB
	INNER JOIN PERSONEL_POZISYON PP ON PozisyonID = PozisyonNo
	INNER JOIN PARK_KAT_BILGISI PKB ON KatID = CalistigiKatNo
	WHERE
	CalismaDurumu = 1
	ORDER BY
		PozisyonNo ASC
END
GO
/****** Object:  StoredProcedure [dbo].[spAracCikisYap]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAracCikisYap]
    @AracParkID INT,
    @Sonuc INT OUTPUT
AS
BEGIN

    -- Bu ID'ye ait aracın olup olmadığının kontrolü
    IF NOT EXISTS (SELECT 1 FROM ARAC_PARK_BILGISI WHERE AracParkID = @AracParkID)
    BEGIN
        SET @Sonuc = 0;
        RETURN;
    END
    
    BEGIN TRANSACTION;
    
    DECLARE @ParkAlaniID INT;
    
    SELECT @ParkAlaniID = ParkAlaniNo 
    FROM ARAC_PARK_BILGISI 
    WHERE AracParkID = @AracParkID;
    
    -- Aracı park kayıtlarından sil
    DELETE FROM ARAC_PARK_BILGISI 
    WHERE AracParkID = @AracParkID;
    
    -- Park alanının durumunu boş yap
    UPDATE PARK_ALANI
    SET ParkAlaniDurum = 0
    WHERE ParkAlaniID = @ParkAlaniID;
    
    -- İşlem başarılı
    SET @Sonuc = 1; 
    
    COMMIT TRANSACTION;
END
GO
/****** Object:  StoredProcedure [dbo].[spAracIcerikBilgiListele]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAracIcerikBilgiListele]
AS
BEGIN
	
	SELECT
	AracIcerikID AS 'ARAÇ İÇERİK ID',
	AracIcerikAd AS 'ARAÇ İÇERİK ADI',
	AT.AracTurAd AS 'ARAÇ TÜRÜ'

	FROM ARAC_ICERIK AI
	INNER JOIN ARAC_TUR AT ON AracTurNo = AracTurID

	ORDER BY
	AracIcerikID ASC
END
GO
/****** Object:  StoredProcedure [dbo].[spAracMarkalariGetir]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAracMarkalariGetir]
AS
BEGIN

    SELECT MarkaID, MarkaAd
    FROM ARAC_MARKA
    ORDER BY MarkaAd ASC;
END

GO
/****** Object:  StoredProcedure [dbo].[spAracMarkasiEkle]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAracMarkasiEkle]
    @MarkaAd NVARCHAR(100),
    @Sonuc INT OUTPUT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM ARAC_MARKA WHERE MarkaAd = @MarkaAd)
    BEGIN
        -- Marka zaten var
        SET @Sonuc = -1
    END
    ELSE
    BEGIN
        INSERT INTO ARAC_MARKA (MarkaAd)
        VALUES (@MarkaAd)

        -- Ekleme başarılı
        SET @Sonuc = 1
    END
END

GO
/****** Object:  StoredProcedure [dbo].[spAracModeliGuncelleme]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAracModeliGuncelleme]
	@ModelID INT,
    @AracModelAd NVARCHAR(100),
    @AracMarkaNo INT,
    @AracUretimYili INT,
	@Sonuc INT OUTPUT
AS
BEGIN

    SET @Sonuc = 0;	

    IF EXISTS (SELECT 1 FROM ARAC_MODEL WHERE ModelID = @ModelID)
    BEGIN
        UPDATE ARAC_MODEL
        SET 
			AracModelAd = @AracModelAd,
			AracMarkaNo = @AracMarkaNo,
			AracUretimYili = @AracUretimYili
        WHERE ModelID = @ModelID;

        SET @Sonuc = 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[spAracModelleriGetir]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAracModelleriGetir]
AS
BEGIN

    SELECT 
	ModelID AS 'MODEL ID',
	Marka.MarkaAd AS 'MARKA ADI', 
	AracModelAd AS 'MODEL ADI',
	AracUretimYili AS 'ÜRETİM YILI'
    FROM ARAC_MODEL Model
	INNER JOIN ARAC_MARKA Marka ON AracMarkaNo = MarkaID
    ORDER BY ModelID ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[spAracParkBilgileriniGetir]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAracParkBilgileriniGetir]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        apb.AracParkID AS 'Araç Park ID',
		musteri.MusteriID AS 'Musteri No',
        apb.AracPlaka AS 'Araç Plakası',
        marka.MarkaAd AS 'Araç Markası',
        model.AracModelAd AS 'Araç Modeli',
		icerik.AracIcerikAd AS 'Araç İçeriği',
        kat.KatAdi AS 'Park Katı',
        park.ParkNumarasi AS 'Park No',
        apb.ParkTarihi AS 'Parka Giriş Tarihi',
        apb.ParkSaati AS 'Parka Giriş Saati'
    FROM
        ARAC_PARK_BILGISI apb
    INNER JOIN ARAC_MODEL model ON apb.AracModelNo = model.ModelID
    INNER JOIN ARAC_MARKA marka ON model.AracMarkaNo = marka.MarkaID
    INNER JOIN ARAC_ICERIK icerik ON apb.AracIcerikNo = icerik.AracIcerikID
    INNER JOIN PARK_ALANI park ON apb.ParkAlaniNo = park.ParkAlaniID
    INNER JOIN PARK_KAT_BILGISI kat ON park.KatNo = kat.KatID
	INNER JOIN MUSTERI_BILGISI musteri ON apb.MusteriNo = musteri.MusteriID
END;
GO
/****** Object:  StoredProcedure [dbo].[spAracParkEkle]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAracParkEkle]
    @AracPlaka NVARCHAR(20),
    @AracModelNo INT,
    @AracIcerikNo INT,
    @MusteriNo INT,
    @ParkAlaniNo INT,
    @ParkTarihi DATE,
    @ParkSaati TIME,
    @Sonuc INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Aynı plakayla kayıt var mı
    IF EXISTS (SELECT 1 FROM ARAC_PARK_BILGISI WHERE AracPlaka = @AracPlaka)
    BEGIN
        SET @Sonuc = 0;  -- Plakaya sahip araç otoparkta
        RETURN;
    END

    -- 2. Park alanı dolu mu
    DECLARE @ParkDurum BIT;
    SELECT @ParkDurum = ParkAlaniDurum FROM PARK_ALANI WHERE ParkAlaniID = @ParkAlaniNo;

    IF @ParkDurum = 1
    BEGIN
        SET @Sonuc = 2;  -- Park alanı dolu
        RETURN;
    END

    -- 3. Park alanı boşsa veri ekle ve park alanını dolu yap
    INSERT INTO ARAC_PARK_BILGISI (AracPlaka, AracModelNo, AracIcerikNo, MusteriNo, ParkAlaniNo, ParkTarihi, ParkSaati)
    VALUES (@AracPlaka, @AracModelNo, @AracIcerikNo, @MusteriNo, @ParkAlaniNo, @ParkTarihi, @ParkSaati);

    UPDATE PARK_ALANI SET ParkAlaniDurum = 1 WHERE ParkAlaniID = @ParkAlaniNo;

    SET @Sonuc = 1;  -- Başarıyla eklendi
END

GO
/****** Object:  StoredProcedure [dbo].[spAracParkGeliriHesapla]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAracParkGeliriHesapla]
	@BaslangicTarihi DATE,
	@BitisTarihi DATE,
	@Sonuc DECIMAL(10,2) OUTPUT
AS
BEGIN
	
	SET @Sonuc = 0;

	SET @Sonuc = (
	SELECT SUM(AlinanUcret)
	FROM LOG_ARAC_PARK_KAYDI
	WHERE(ParkCıkısTarihi BETWEEN @BaslangicTarihi AND @BitisTarihi))

END
GO
/****** Object:  StoredProcedure [dbo].[spBireyselZamYap]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBireyselZamYap]
    @ZamOrani DECIMAL,
	@PersonelID INT,
	@Sonuc INT OUTPUT
AS
BEGIN

    SET @Sonuc = 0;	

    IF EXISTS (SELECT 1 FROM PERSONEL_BILGISI WHERE PersonelID = @PersonelID)
    BEGIN

		UPDATE PERSONEL_BILGISI
		SET Maas = Maas + (Maas * @ZamOrani / 100)
		WHERE PersonelID = @PersonelID;

        SET @Sonuc = 1;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[spDestekTalepBilgileriniListele]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDestekTalepBilgileriniListele]
AS
BEGIN
    SELECT 
        DestekID AS 'DESTEK ID',
        MusteriNo AS 'MÜŞTERİ NO',
        TalepIcerigi AS 'DESTEK BAŞLIĞI',
        TalepMetni AS 'DESTEK METNİ',
        TalepGonderimTarihi AS 'DESTEK BULUNMA TARİHİ',
        TalepCevabi AS 'DESTEK CEVABI',
		TalepCevapTarihi AS 'DESTEK CEVAP TARİHİ',
        CASE
            WHEN TalepDurumu = 0 THEN 'AÇIK'
            WHEN TalepDurumu = 1 THEN 'KAPALI'
        END AS 'TALEP DURUMU'
    FROM 
        DESTEK_TALEP
	ORDER BY
		TalepDurumu DESC
END

GO
/****** Object:  StoredProcedure [dbo].[spDestekTalepCevapla]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDestekTalepCevapla]
    @DestekID INT,
    @TalepCevabi NVARCHAR(MAX),
    @Sonuc BIT OUTPUT
AS
BEGIN

	SET @Sonuc = 0;

    IF EXISTS (SELECT 1 FROM DESTEK_TALEP WHERE DestekID = @DestekID)
    BEGIN

        UPDATE DESTEK_TALEP
        SET 
            TalepCevabi = @TalepCevabi,
            TalepCevapTarihi = GETDATE()
        WHERE DestekID = @DestekID;

        SET @Sonuc = 1;

    END
END;

GO
/****** Object:  StoredProcedure [dbo].[spFiyatTarifesiListele]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFiyatTarifesiListele]
AS
BEGIN
    SELECT 
        UcretID AS 'ÜCRET TARİFESİ ID',
        AT.AracTurAd AS 'ARAÇ TÜRÜ',
        SaatlikUcret AS 'SAATLİK ÜCRET'
    FROM 
    UCRET_TARIFESI UT
	INNER JOIN ARAC_TUR AT ON UT.AracTurNo = AT.AracTurID
END
GO
/****** Object:  StoredProcedure [dbo].[spHesaplaAracParkUcreti]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spHesaplaAracParkUcreti]
    @AracParkID INT,
	@Kampanya INT,
	@OdenenTutar DECIMAL(10,2) OUTPUT,
    @Sonuc INT OUTPUT,
	@KampanyaAd NVARCHAR(100) OUTPUT
AS
BEGIN
    
	SET @Sonuc = 0;

    IF NOT EXISTS (SELECT 1 FROM ARAC_PARK_BILGISI WHERE AracParkID = @AracParkID)
    BEGIN
        RETURN;
    END

    DECLARE @GirisTarih   DATETIME;
    DECLARE @CikisTarih   DATETIME;
    DECLARE @GirisSaati   TIME;
    DECLARE @CikisSaati   TIME;
    DECLARE @AracTurNo    INT;
    DECLARE @SaatlikUcret DECIMAL(10,2);
    DECLARE @ToplamSaat   INT;
    DECLARE @ToplamUcret  DECIMAL(10,2);
	DECLARE @KampanyaYuzde DECIMAL(5,2);

    -- 1) Giriş bilgilerini ve araç türünü al
    SELECT 
        @GirisTarih  = AP.ParkTarihi,
        @GirisSaati  = AP.ParkSaati,
        @AracTurNo   = AI.AracTurNo
    FROM ARAC_PARK_BILGISI AP
    INNER JOIN ARAC_ICERIK AI
        ON AP.AracIcerikNo = AI.AracIcerikID
    WHERE AP.AracParkID = @AracParkID;

	SELECT
		@KampanyaYuzde = IndirimYuzdesi,
		@KampanyaAd = KampanyaAd
	FROM KAMPANYA_UCRET
	WHERE KampanyaID = @Kampanya
		

    -- 2) Çıkış zamanını şimdiye ayarla
    SET @CikisTarih = GETDATE();
    SET @CikisSaati = CONVERT(TIME, GETDATE());

    -- 3) Saatlik ücreti al
    SELECT @SaatlikUcret = SaatlikUcret
    FROM UCRET_TARIFESI
    WHERE AracTurNo = @AracTurNo;

    -- 4) Gün ve saat farkını hesapla
    DECLARE @GunFarki INT = DATEDIFF(DAY, @GirisTarih, @CikisTarih);
    DECLARE @SaatFarki INT = DATEDIFF(HOUR, @GirisSaati, @CikisSaati);

    -- 5) Toplam saat
    SET @ToplamSaat = (@GunFarki * 24) + @SaatFarki;  
    IF @ToplamSaat < 0 SET @ToplamSaat = ABS(@ToplamSaat);

    -- 6) Toplam ücreti hesapla
    SET @ToplamUcret = @ToplamSaat * @SaatlikUcret * @KampanyaYuzde;
	SET @OdenenTutar = @ToplamUcret

    -- 7) Log kaydı
    INSERT INTO LOG_ARAC_PARK_KAYDI
        (AracPlaka, MusteriNo, ParkGirisTarihi, ParkGirisSaati, ParkCıkısTarihi, ParkCıkısSaati, AlinanUcret)
    SELECT 
        AracPlaka,
        MusteriNo,
        ParkTarihi,
        ParkSaati,
        CONVERT(DATE, @CikisTarih),
        @CikisSaati,
        @ToplamUcret
    FROM ARAC_PARK_BILGISI
    WHERE AracParkID = @AracParkID;

    SET @Sonuc = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[spKampanyaDurumuDegistir]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spKampanyaDurumuDegistir]
    @KampanyaID INT,
    @Sonuc INT OUTPUT
AS
BEGIN

    SET @Sonuc = 0;

    IF EXISTS (SELECT 1 FROM KAMPANYA_UCRET WHERE KampanyaID = @KampanyaID)
    BEGIN
		IF (SELECT KampanyaDurumu FROM KAMPANYA_UCRET WHERE KampanyaID = @KampanyaID) = 0
		BEGIN
		    UPDATE KAMPANYA_UCRET
			SET KampanyaDurumu = 1
			WHERE KampanyaID = @KampanyaID;
		END
		ELSE
		BEGIN
		    UPDATE KAMPANYA_UCRET
			SET KampanyaDurumu = 0
			WHERE KampanyaID = @KampanyaID;
		END

        SET @Sonuc = 1;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[spKampanyalariListele]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spKampanyalariListele]
AS
BEGIN
    SELECT 
        KampanyaID AS 'KAMPANYA ID',
        KampanyaAd AS 'KAMPANYA ADI',
        Aciklama AS 'KAMPANYA AÇIKLAMASI',
		IndirimYuzdesi AS 'İNDİRİM ORANI',
		AT.AracTurAd AS 'ARAÇ TÜRÜ',
		KampanyaBaslangic AS 'BAŞLANGIÇ TARİHİ',
		KampanyaBitis AS 'BİTİŞ TARİHİ',
        CASE
            WHEN KampanyaDurumu = 0 THEN 'PASİF'
            WHEN KampanyaDurumu = 1 THEN 'AKTİF'
        END AS KampanyaDurumu
    FROM 
    KAMPANYA_UCRET KT
	INNER JOIN UCRET_TARIFESI UT ON UT.UcretID = KT.UcretNo
	INNER JOIN ARAC_TUR AT ON AT.AracTurID = UT.AracTurNo
	ORDER BY
		KampanyaDurumu DESC 
END
GO
/****** Object:  StoredProcedure [dbo].[spLogAracParkKaydiListele]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLogAracParkKaydiListele]
AS
BEGIN

    SELECT 
        LogAracParkID AS 'LOG PARK ID',
        AracPlaka AS 'ARAÇ PLAKASI',
        MusteriNo AS 'MÜŞTERİ NO',
        ParkGirisTarihi AS 'GİRİŞ TARİHİ',
        ParkGirisSaati AS 'GİRİŞ SAATİ',
        ParkCıkısTarihi AS 'ÇIKIŞ TARHİ',
        ParkCıkısSaati AS 'ÇIKIŞ SAATİ',
        AlinanUcret AS 'ÖDENEN ÜCRET'
    FROM LOG_ARAC_PARK_KAYDI
    ORDER BY ParkGirisTarihi DESC, ParkGirisSaati DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[spMusteriBilgileriniListele]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMusteriBilgileriniListele]
AS
BEGIN
    SELECT 
        MusteriID AS 'MÜŞTERİ ID',
        Ad AS 'AD',
        Soyad AS 'SOYAD',
        Adres AS 'ADRES',
        TelefonNumarasi AS 'TELEFON NO',
        MusteriUyelikTarihi AS 'ÜYELİK TARİHİ',
		UyelikDurumu AS 'ÜYELİK DURUMU'
    FROM 
        MUSTERI_BILGISI
	ORDER BY
		UyelikDurumu DESC
END
GO
/****** Object:  StoredProcedure [dbo].[spMusteriBilgisiGuncelleme]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMusteriBilgisiGuncelleme]
    @MusteriID INT,
    @Ad NVARCHAR(100),
    @Soyad NVARCHAR(100),
    @Adres NVARCHAR(255),
    @TelefonNumarasi NVARCHAR(20),
    @Sonuc INT OUTPUT
AS
BEGIN

    SET @Sonuc = 0;	

    IF EXISTS (SELECT 1 FROM MUSTERI_BILGISI WHERE MusteriID = @MusteriID)
    BEGIN
        UPDATE MUSTERI_BILGISI
        SET 
            Ad = @Ad,
            Soyad = @Soyad,
            TelefonNumarasi = @TelefonNumarasi,
			Adres = @Adres
        WHERE MusteriID = @MusteriID;

        SET @Sonuc = 1;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[spMusteriCezaGeliriHesapla]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMusteriCezaGeliriHesapla]
	@BaslangicTarihi DATE,
	@BitisTarihi DATE,
	@Sonuc DECIMAL(10,2) OUTPUT
AS
BEGIN
	
	SET @Sonuc = 0;

	SET @Sonuc = (
	SELECT SUM(OdenecekTutar)
	FROM MUSTERI_CEZA_BILGISI
	WHERE(CezaBitisTarihi BETWEEN @BaslangicTarihi AND @BitisTarihi) AND OdenmeDurumu = 1)

END
GO
/****** Object:  StoredProcedure [dbo].[spMusteriCezaOdenmeyenHesapla]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMusteriCezaOdenmeyenHesapla]
	@Sonuc DECIMAL(10,2) OUTPUT
AS
BEGIN
	
	SET @Sonuc = 0;

	SET @Sonuc = (
	SELECT SUM(OdenecekTutar)
	FROM MUSTERI_CEZA_BILGISI
	WHERE OdenmeDurumu = 0)

END
GO
/****** Object:  StoredProcedure [dbo].[spOdenmeDurumuDegistir]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spOdenmeDurumuDegistir]
	@CezaID INT,
	@Sonuc INT OUTPUT
AS
BEGIN

	SET @Sonuc = 0;	

    IF EXISTS (SELECT 1 FROM MUSTERI_CEZA_BILGISI WHERE CezaID = @CezaID)
    BEGIN	
		UPDATE MUSTERI_CEZA_BILGISI
		SET OdenmeDurumu = 1
		WHERE CezaID = @CezaID;

		SET @Sonuc = 1;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[spParkAlanlariDurumListele]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spParkAlanlariDurumListele]
AS
BEGIN

    SELECT
        pAlani.ParkAlaniID AS 'Park Alanı ID',
		pKati.KatAdi AS 'Park Katı',
        pAlani.ParkNumarasi AS 'Park Numarası',
        CASE
            WHEN pAlani.ParkAlaniDurum = 0 THEN 'BOŞ'
            WHEN pAlani.ParkAlaniDurum = 1 THEN 'DOLU'
        END AS ParkDurumu
    FROM PARK_ALANI pAlani
    INNER JOIN PARK_KAT_BILGISI pKati ON pAlani.KatNo = pKati.KatID;
END

GO
/****** Object:  StoredProcedure [dbo].[spPasifCezalar]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPasifCezalar]
AS
BEGIN
    SELECT
		CezaID AS 'CEZA ID', 
        MusteriNo AS 'MÜŞTERİ ID',
        CezaSebebi AS 'CEZA SEBEBİ',
        AldigiYaptirim AS 'UYGULANAN CEZA',
        OdenecekTutar AS 'ÖDENECEK CEZA',
        CezaAlimTarihi AS 'CEZA BAŞLANGIÇ TARİHİ',
        CezaBitisTarihi AS 'CEZA BİTİŞ TARİHİ',
		CASE OdenmeDurumu
        WHEN 1 THEN 'ÖDENDİ'
        WHEN 0 THEN 'ÖDENMEDİ'
		END AS 'ÖDENME DURUMU'
    FROM 
        MUSTERI_CEZA_BILGISI
	WHERE OdenmeDurumu = 1
	ORDER BY
		CezaID ASC
END
GO
/****** Object:  StoredProcedure [dbo].[spPasifPersonelBilgileriniListele]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPasifPersonelBilgileriniListele]
AS
BEGIN
    SELECT 
        PersonelID AS 'Personel ID',
        Ad AS 'AD',
        Soyad AS 'SOYAD',
        Adres AS 'ADRES',
        TelefonNumarasi AS 'TELEFON NO',
        PP.PozisyonAd AS 'ESKİ POZİSYONU',
		BaslamaTarihi AS 'İŞE BAŞLAMA TARİHİ',
		CikisTarihi AS 'İŞTEN AYRILMA TARİHİ'
    FROM 
        PERSONEL_BILGISI PB
	INNER JOIN PERSONEL_POZISYON PP ON PozisyonID = PozisyonNo
	WHERE
	CalismaDurumu = 0
	ORDER BY
		PozisyonNo ASC
END
GO
/****** Object:  StoredProcedure [dbo].[spPersonelBilgisiGuncelle]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPersonelBilgisiGuncelle]
	@PersonelID INT,
    @Ad NVARCHAR(50),
    @Soyad NVARCHAR(50),
	@PozisyonNo INT,
    @Adres NVARCHAR(100),
    @TelefonNumarasi NVARCHAR(20),
	@CalistigiKatNo INT,
	@Maas INT,
	@Sonuc INT OUTPUT
AS
BEGIN

    SET @Sonuc = 0;	

    IF EXISTS (SELECT 1 FROM PERSONEL_BILGISI WHERE PersonelID = @PersonelID)
    BEGIN
        UPDATE PERSONEL_BILGISI
        SET 
            Ad = @Ad,
            Soyad = @Soyad,
            TelefonNumarasi = @TelefonNumarasi,
			Adres = @Adres,
			PozisyonNo = @PozisyonNo,
			CalistigiKatNo = @CalistigiKatNo,
			Maas = @Maas
        WHERE PersonelID = @PersonelID;

        SET @Sonuc = 1;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[spPersonelCikisiYap]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: SQLQuery12.sql|0|0|C:\Users\ernns\AppData\Local\Temp\~vs2DA3.sql
CREATE PROCEDURE [dbo].[spPersonelCikisiYap]
	@PersonelID INT,
	@Sonuc INT OUTPUT
AS
BEGIN
	
	SET @Sonuc = 0;

    IF EXISTS (SELECT 1 FROM PERSONEL_BILGISI WHERE PersonelID = @PersonelID)
    BEGIN
		UPDATE PERSONEL_BILGISI
        SET 
			Maas = 0,
			CalismaDurumu = 0,
			CikisTarihi = CONVERT(VARCHAR, GETDATE(), 104)


        WHERE PersonelID = @PersonelID;

        SET @Sonuc = 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[spPozisyonlariListele]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPozisyonlariListele]
AS
BEGIN

    SELECT 
	PozisyonID AS 'POZİSYON ID',
	PozisyonAd AS 'POZİSYON ADI'
    FROM PERSONEL_POZISYON
    ORDER BY PozisyonID ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[spTalepCevabiGuncelle]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTalepCevabiGuncelle]
    @DestekID INT,
    @YeniTalepCevabi NVARCHAR(MAX),
    @Sonuc INT OUTPUT
AS
BEGIN

    SET @Sonuc = 0;

    IF EXISTS (SELECT 1 FROM DESTEK_TALEP WHERE DestekID = @DestekID)
    BEGIN

        UPDATE DESTEK_TALEP
        SET TalepCevabi = @YeniTalepCevabi,
            TalepCevapTarihi = GETDATE()
        WHERE DestekID = @DestekID;

        SET @Sonuc = 1;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[spTalepDurumuDegistir]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTalepDurumuDegistir]
    @DestekID INT,
    @Sonuc INT OUTPUT
AS
BEGIN

    SET @Sonuc = 0;

    IF EXISTS (SELECT 1 FROM DESTEK_TALEP WHERE DestekID = @DestekID)
    BEGIN
		IF (SELECT TalepDurumu FROM DESTEK_TALEP) = 0
		BEGIN
		    UPDATE DESTEK_TALEP
			SET TalepDurumu = 1
			WHERE DestekID = @DestekID;
		END
		ELSE
		BEGIN
		    UPDATE DESTEK_TALEP
			SET TalepDurumu = 0
			WHERE DestekID = @DestekID;
		END

        SET @Sonuc = 1;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[spTalepMetniGetir]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTalepMetniGetir]
    @DestekID INT,
    @TalepMetni NVARCHAR(MAX) OUTPUT,
	@TalepCevabi NVARCHAR(MAX) OUTPUT,
    @Sonuc INT OUTPUT
AS
BEGIN

	SET @Sonuc = 0;

    IF EXISTS (SELECT 1 FROM DESTEK_TALEP WHERE DestekID = @DestekID)
    BEGIN
        SELECT @TalepMetni = TalepMetni
        FROM DESTEK_TALEP
        WHERE DestekID = @DestekID;

		SELECT @TalepCevabi = TalepCevabi
        FROM DESTEK_TALEP
        WHERE DestekID = @DestekID;

        SET @Sonuc = 1;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[spToplamMaasHesapla]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spToplamMaasHesapla]
	@ToplamMaas INT OUTPUT
AS
BEGIN
	
	SET @ToplamMaas = (SELECT SUM(Maas) AS ToplamMaas
    FROM PERSONEL_BILGISI);

END;

GO
/****** Object:  StoredProcedure [dbo].[spTopluZamYap]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTopluZamYap]
    @ZamOrani DECIMAL
AS
BEGIN
    UPDATE PERSONEL_BILGISI
    SET Maas = Maas + (Maas * @ZamOrani / 100)
    WHERE Maas > 0;
END;

GO
/****** Object:  StoredProcedure [dbo].[spUcretTarifesiGuncelleme]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUcretTarifesiGuncelleme]
	@UcretID INT,
	@YeniUcret DECIMAL(10,2),
	@Sonuc INT OUTPUT
AS
BEGIN

	SET @Sonuc = 0;

	IF EXISTS (SELECT 1 FROM UCRET_TARIFESI WHERE UcretID = @UcretID)
    BEGIN
		UPDATE UCRET_TARIFESI
		SET
			SaatlikUcret = @YeniUcret
		WHERE UcretID = @UcretID

		SET @Sonuc = 1;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[spUyelikDurumuDegistir]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUyelikDurumuDegistir]
    @MusteriID INT,
    @Sonuc BIT OUTPUT
AS
BEGIN
    
    SET @Sonuc = 0;
    
    IF EXISTS (SELECT 1 FROM MUSTERI_BILGISI WHERE MusteriID = @MusteriID)
    BEGIN

        DECLARE @MevcutDurum BIT;
        SELECT @MevcutDurum = UyelikDurumu FROM MUSTERI_BILGISI WHERE MusteriID = @MusteriID;
        
        IF @MevcutDurum = 1
		BEGIN
            UPDATE MUSTERI_BILGISI SET UyelikDurumu = 0 WHERE MusteriID = @MusteriID;
		END
        ELSE
		BEGIN
            UPDATE MUSTERI_BILGISI SET UyelikDurumu = 1 WHERE MusteriID = @MusteriID;
		END
            
        SET @Sonuc = 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[spYeniAracModeli]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spYeniAracModeli]
    @AracModelAd NVARCHAR(100),
    @AracMarkaNo INT,
    @AracUretimYili INT
AS
BEGIN
    INSERT INTO ARAC_MODEL (
		AracModelAd,
		AracMarkaNo,
		AracUretimYili
    )
    VALUES (
		@AracModelAd,
		@AracMarkaNo,
		@AracUretimYili
    )
END
GO
/****** Object:  StoredProcedure [dbo].[spYeniCezaKaydi]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spYeniCezaKaydi]
    @MusteriNo INT,
    @CezaSebebi NVARCHAR(255),
	@AldigiYaptirim NVARCHAR(255),
	@CezaTutari INT,
    @CezaBitisTarihi DATE,
	@Sonuc INT OUTPUT
AS
BEGIN
	SET @Sonuc = 0;

	IF EXISTS (SELECT 1 FROM MUSTERI_BILGISI WHERE @MusteriNo = MusteriID)
    BEGIN
		INSERT INTO MUSTERI_CEZA_BILGISI(
			MusteriNo,
			CezaSebebi,
			AldigiYaptirim,
			OdenecekTutar,
			CezaAlimTarihi,
			CezaBitisTarihi,
			OdenmeDurumu
		)
		VALUES (
			@MusteriNo,
			@CezaSebebi,
			@AldigiYaptirim,
			@CezaTutari,
			GETDATE(),
			@CezaBitisTarihi,
			0
		)

		SET @Sonuc = 1;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[spYeniKampanyaEkle]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spYeniKampanyaEkle]
    @KampanyaAd NVARCHAR(100),
    @Aciklama NVARCHAR(255),
    @IndirimYuzdesi DECIMAL(5, 2),
    @KampanyaBaslangic DATE,
    @KampanyaBitis DATE,
	@UcretID INT
AS
BEGIN
    INSERT INTO KAMPANYA_UCRET(
		KampanyaAd,
		Aciklama,
		IndirimYuzdesi,
		KampanyaBaslangic,
		KampanyaBitis,
		UcretNo,
		KampanyaDurumu		
    )
    VALUES (
		@KampanyaAd,
		@Aciklama,
		@IndirimYuzdesi,
		@KampanyaBaslangic,
		@KampanyaBitis,
		@UcretID,
		1
    )
END
GO
/****** Object:  StoredProcedure [dbo].[spYeniMusteriKaydi]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spYeniMusteriKaydi]
    @Ad NVARCHAR(50),
    @Soyad NVARCHAR(50),
    @Adres NVARCHAR(100),
    @TelefonNumarasi NVARCHAR(20),
    @MusteriUyelikTarihi DATE
AS
BEGIN
    INSERT INTO MUSTERI_BILGISI (
        Ad,
        Soyad,
        Adres,
        TelefonNumarasi,
        MusteriUyelikTarihi
    )
    VALUES (
        @Ad,
        @Soyad,
        @Adres,
        @TelefonNumarasi,
		@MusteriUyelikTarihi
    )
END
GO
/****** Object:  StoredProcedure [dbo].[spYeniPersonelKaydi]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spYeniPersonelKaydi]
    @Ad NVARCHAR(50),
    @Soyad NVARCHAR(50),
	@PozisyonNo INT,
    @Adres NVARCHAR(100),
    @TelefonNumarasi NVARCHAR(20),
	@CalistigiKatNo INT,
	@Maas INT
AS
BEGIN
    INSERT INTO PERSONEL_BILGISI(
		Ad,
		Soyad,
		PozisyonNo,
		Adres,
		TelefonNumarasi,
		CalistigiKatNo,
		Maas,
		CalismaDurumu,
		BaslamaTarihi,
		CikisTarihi
    )
    VALUES (
		@Ad,
		@Soyad,
		@PozisyonNo,
		@Adres,
		@TelefonNumarasi,
		@CalistigiKatNo,
		@Maas,
		1,
		CONVERT(VARCHAR, GETDATE(), 104),
		NULL
    )
END
GO
/****** Object:  Table [dbo].[ARAC_ICERIK]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARAC_ICERIK](
	[AracIcerikID] [int] IDENTITY(1,1) NOT NULL,
	[AracIcerikAd] [nvarchar](100) NOT NULL,
	[AracTurNo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AracIcerikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ARAC_MARKA]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARAC_MARKA](
	[MarkaID] [int] IDENTITY(1,1) NOT NULL,
	[MarkaAd] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MarkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ARAC_MODEL]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARAC_MODEL](
	[ModelID] [int] IDENTITY(1,1) NOT NULL,
	[AracModelAd] [nvarchar](100) NOT NULL,
	[AracMarkaNo] [int] NOT NULL,
	[AracUretimYili] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ARAC_PARK_BILGISI]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARAC_PARK_BILGISI](
	[AracParkID] [int] IDENTITY(1,1) NOT NULL,
	[AracPlaka] [nvarchar](20) NOT NULL,
	[AracModelNo] [int] NOT NULL,
	[AracIcerikNo] [int] NOT NULL,
	[MusteriNo] [int] NOT NULL,
	[ParkAlaniNo] [int] NOT NULL,
	[ParkTarihi] [date] NOT NULL,
	[ParkSaati] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AracParkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ARAC_TUR]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARAC_TUR](
	[AracTurID] [int] IDENTITY(1,1) NOT NULL,
	[AracTurAd] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AracTurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DESTEK_TALEP]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESTEK_TALEP](
	[DestekID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriNo] [int] NOT NULL,
	[TalepIcerigi] [nvarchar](255) NOT NULL,
	[TalepMetni] [nvarchar](max) NOT NULL,
	[TalepCevabi] [nvarchar](max) NULL,
	[TalepDurumu] [bit] NOT NULL,
	[TalepCevapTarihi] [datetime] NULL,
	[TalepGonderimTarihi] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DestekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KAMPANYA_UCRET]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KAMPANYA_UCRET](
	[KampanyaID] [int] IDENTITY(1,1) NOT NULL,
	[KampanyaAd] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](255) NULL,
	[IndirimYuzdesi] [decimal](5, 2) NULL,
	[KampanyaBaslangic] [date] NULL,
	[KampanyaBitis] [date] NULL,
	[UcretNo] [int] NOT NULL,
	[KampanyaDurumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KampanyaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOG_ARAC_PARK_KAYDI]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_ARAC_PARK_KAYDI](
	[LogAracParkID] [int] IDENTITY(1,1) NOT NULL,
	[AracPlaka] [nvarchar](20) NULL,
	[ParkGirisTarihi] [date] NULL,
	[ParkGirisSaati] [time](7) NULL,
	[ParkCıkısTarihi] [date] NULL,
	[ParkCıkısSaati] [time](7) NULL,
	[AlinanUcret] [int] NULL,
	[MusteriNo] [int] NULL,
 CONSTRAINT [PK_LOG_ARAC_PARK_KAYDI] PRIMARY KEY CLUSTERED 
(
	[LogAracParkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MUSTERI_BILGISI]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERI_BILGISI](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[Soyad] [nvarchar](100) NOT NULL,
	[Adres] [nvarchar](255) NULL,
	[TelefonNumarasi] [nvarchar](20) NULL,
	[MusteriUyelikTarihi] [date] NULL,
	[UyelikDurumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MUSTERI_CEZA_BILGISI]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERI_CEZA_BILGISI](
	[CezaID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriNo] [int] NOT NULL,
	[CezaSebebi] [nvarchar](255) NULL,
	[AldigiYaptirim] [nvarchar](255) NULL,
	[CezaAlimTarihi] [date] NULL,
	[CezaBitisTarihi] [date] NULL,
	[OdenecekTutar] [int] NULL,
	[OdenmeDurumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CezaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PARK_ALANI]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARK_ALANI](
	[ParkAlaniID] [int] IDENTITY(1,1) NOT NULL,
	[ParkNumarasi] [nvarchar](50) NOT NULL,
	[ParkAlaniDurum] [bit] NOT NULL,
	[KatNo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParkAlaniID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PARK_KAT_BILGISI]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARK_KAT_BILGISI](
	[KatID] [int] IDENTITY(1,1) NOT NULL,
	[KatAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONEL_BILGISI]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONEL_BILGISI](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[Soyad] [nvarchar](100) NOT NULL,
	[PozisyonNo] [int] NOT NULL,
	[Adres] [nvarchar](255) NULL,
	[TelefonNumarasi] [nvarchar](20) NULL,
	[CalistigiKatNo] [int] NOT NULL,
	[Maas] [int] NULL,
	[CalismaDurumu] [bit] NULL,
	[BaslamaTarihi] [date] NULL,
	[CikisTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONEL_POZISYON]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONEL_POZISYON](
	[PozisyonID] [int] IDENTITY(1,1) NOT NULL,
	[PozisyonAd] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PozisyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UCRET_TARIFESI]    Script Date: 27.06.2025 10:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCRET_TARIFESI](
	[UcretID] [int] IDENTITY(1,1) NOT NULL,
	[AracTurNo] [int] NOT NULL,
	[SaatlikUcret] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UcretID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ARAC_ICERIK]  WITH CHECK ADD FOREIGN KEY([AracTurNo])
REFERENCES [dbo].[ARAC_TUR] ([AracTurID])
GO
ALTER TABLE [dbo].[ARAC_MODEL]  WITH CHECK ADD FOREIGN KEY([AracMarkaNo])
REFERENCES [dbo].[ARAC_MARKA] ([MarkaID])
GO
ALTER TABLE [dbo].[ARAC_PARK_BILGISI]  WITH CHECK ADD FOREIGN KEY([AracIcerikNo])
REFERENCES [dbo].[ARAC_ICERIK] ([AracIcerikID])
GO
ALTER TABLE [dbo].[ARAC_PARK_BILGISI]  WITH CHECK ADD FOREIGN KEY([AracModelNo])
REFERENCES [dbo].[ARAC_MODEL] ([ModelID])
GO
ALTER TABLE [dbo].[ARAC_PARK_BILGISI]  WITH CHECK ADD FOREIGN KEY([MusteriNo])
REFERENCES [dbo].[MUSTERI_BILGISI] ([MusteriID])
GO
ALTER TABLE [dbo].[ARAC_PARK_BILGISI]  WITH CHECK ADD FOREIGN KEY([ParkAlaniNo])
REFERENCES [dbo].[PARK_ALANI] ([ParkAlaniID])
GO
ALTER TABLE [dbo].[DESTEK_TALEP]  WITH CHECK ADD FOREIGN KEY([MusteriNo])
REFERENCES [dbo].[MUSTERI_BILGISI] ([MusteriID])
GO
ALTER TABLE [dbo].[KAMPANYA_UCRET]  WITH CHECK ADD FOREIGN KEY([UcretNo])
REFERENCES [dbo].[UCRET_TARIFESI] ([UcretID])
GO
ALTER TABLE [dbo].[MUSTERI_CEZA_BILGISI]  WITH CHECK ADD FOREIGN KEY([MusteriNo])
REFERENCES [dbo].[MUSTERI_BILGISI] ([MusteriID])
GO
ALTER TABLE [dbo].[PARK_ALANI]  WITH CHECK ADD FOREIGN KEY([KatNo])
REFERENCES [dbo].[PARK_KAT_BILGISI] ([KatID])
GO
ALTER TABLE [dbo].[PERSONEL_BILGISI]  WITH CHECK ADD FOREIGN KEY([CalistigiKatNo])
REFERENCES [dbo].[PARK_KAT_BILGISI] ([KatID])
GO
ALTER TABLE [dbo].[PERSONEL_BILGISI]  WITH CHECK ADD FOREIGN KEY([PozisyonNo])
REFERENCES [dbo].[PERSONEL_POZISYON] ([PozisyonID])
GO
ALTER TABLE [dbo].[UCRET_TARIFESI]  WITH CHECK ADD FOREIGN KEY([AracTurNo])
REFERENCES [dbo].[ARAC_TUR] ([AracTurID])
GO
